*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
}
/* Layout Of Page*/

.header{
    background-color: rgb(0, 22, 50);
    height: 90px;
}

.container{
    min-height: 100vh;
}

footer{
    background-color: rgb(0, 22, 50);
    height: 90px;
}

.center-wrapper{
    max-width: 1300px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.responsive-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
}



/*Top of Page */

.logo{
    height: 80px;
}
/* Main Content Cards */
.boxes{
    display: grid;
    grid-template-rows: 250px auto 70px;
    border-radius: 5%;
    padding: 4px;
    
}
.laptop{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 13px;
}
.icon-bar{
    display: grid;
    grid-auto-flow: column;
}
.bot-of-card{
    display: grid;

}
.boxes{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(3, 3, 3);
    margin: 2px;
    padding: 0px;
}
.boxes p{
    margin: 0;
}
